
.add-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.add-input {
    flex-grow: 1;
    border-radius: 5rem;
    border-style:double ;
}

.add-btn {
    background-color: var(--sky-blue);
    font-weight: 400;
    font-size: 2rem;
    padding: .5rem 1.3rem;
    transition: filter .5s;
}

.add-btn:hover {
    filter: brightness(85%);
}