
.modal-bg {
    background-color: rgba(0, 0, 0, 0.774);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-wrapper {
    background-color: var(--dark-blue);
    width: min(100% - 5rem, 300px);
    border-radius: .5rem;
    padding-block: 10rem;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
}

.modal-input {
    border: none;
    outline: none;
    border-radius: .5rem;
    
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.update-btn {
    padding: 1rem;
    background-color: var(--sky-blue);
    transition: filter .5s;
}

.cancel-btn {
    padding: 1rem;
    background-color: var(--red);
    transition: filter .5s;
}

.update-btn:hover, .cancel-btn:hover {
    filter: brightness(85%);
}