:root {
  --main-bg-color: hsl(216, 6%, 84%);
  --card-bg-color: hsl(216, 50%, 16%);
  --red: hsl(0, 79%, 39%);
  --dark-red: hsl(0, 74%, 33%);
  --green: hsl(120, 63%, 33%);
  --dark-green: hsl(120, 87%, 15%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 2%, 24%);
  --ligh-gray: rgb(214, 216, 216);
  --sky-blue: rgb(22, 151, 130);

}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--main-bg-color);
  position: relative;
}

h1, p, div {
  margin: 0;
}

input {
  font-size: 1.5rem;
  color: var(--gray);
  border-color: var(--ligh-gray);
  padding: .8rem 1rem;
  outline-color: var(--ligh-gray);
}

button {
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  color: var(--white);
}

.main-container {
  padding: 4rem 2rem;
  background-color: var(--white);
  border-radius: .5rem;
  width: min(100%, 600px);
  margin-inline: auto;
}

@media (min-width: 600px) { 
  .main-container {
    margin-top: 3rem;
    padding: 5rem;
  }
} 

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}



